@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

@import "tailwindcss";

@font-face {
  font-family: "Bigger";
  src: url("/fonts/Bigger-Display.woff2") format("woff2");
}

@theme {
  /* Font Family */
  --font-poppins: "Poppins", sans-serif;

  /* colors */
  --color-palette-background: #000;
  --color-palette-background-modal: #222222;
  --color-palette-text: #fff;
  --color-palette-shadow: #333333;
  --color-palette-border: #333333;
  --color-palette-primary: #EE3C88;
  --color-palette-primary-dark: #E61E7A;
  --color-palette-secondary: #3DBFD9;
  --color-palette-secondary-dark: #2FA9C6;
  --color-palette-inactive: #D3D3D3;
  --color-palette-inactive-dark: #BEBEBE;
}

img {
  -webkit-user-drag: none;
}

/* fix ios input keyboard
/* overflow: hidden;
/* ref: https://zhuanlan.zhihu.com/p/113855026
 */
html,
body,
#root {
  position: relative;

  overscroll-behavior: none;

  height: 100%;
  min-height: 100dvh;
  max-height: 100dvh;

  font-family: "Poppins" sans-serif;
  width: 100dvw;
  overflow-x: hidden;
  -webkit-font-smoothing: antialiased;

  @media (min-device-width: 576px) {
    overflow: hidden;
  }
}

* {
  scrollbar-color: var(--color-palette-background) transparent;
  scrollbar-width: thin;

  ::-webkit-scrollbar {
    width: 0.75em;
    height: 0.75em;
  }

  ::-webkit-scrollbar-thumb {
    border-radius: 10px;
  }

  :hover::-webkit-scrollbar-thumb {
    border: 3px solid var(--color-palette-background) transparent;
    background-clip: content-box;
  }

  ::-webkit-scrollbar-track {
    background-color: var(--color-palette-background) transparent;
  }
}
